<div id="player-controls">
  <!--<currentlyPlaying controls>
    <source ng-src="{{ currentlyPlayingUrl }}" type="currentlyPlaying/mp3">
      Your browser is stupid
  </currentlyPlaying>-->
<button class="btn btn-default" ng-click="currentlyPlaying.paused ? currentlyPlaying.play() : currentlyPlaying.pause()">Pause</button>
<button class="btn btn-default" ng-click="currentlyPlaying.restart()">Stop</button>
<button class="btn btn-default" ng-click="currentlyPlaying.muting = !currentlyPlaying.muting">Mute</button>
<input class="form-inline" id="playbackSlider" type="range" min="0" max="1" step=".001"
    ng-model="currentlyPlaying.progress" disabled="disabled"></input>
</div>
