.jumbotron {
  background-color: rgba(246, 246, 246, 0.7);
}

html {
  overflow-x: hidden;
}

#top-overview, #side-bar, #main-view, #player-controls {
  position: absolute;
}

#top-overview {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 48px;
    border-bottom: 2px solid #999;
    border-bottom-color: #c2262e;
    background-color: #efefef;
}

#top-overview > #searchBox, #top-overview > button {
  display: block;
  float: right;
}

#top-overview > #logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 10px;
  height: 60%;
}


#side-bar {
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 199px;
    border-right: 1px solid #999;
    background-color: #cdcdcd;
}

#main-view {
  background-image: url('../../resources/logo_transp.svg');
background-attachment: scroll;
background-size: cover;
background-repeat: no-repeat;
background-position: -20px 0px;
background-color: rgba(246, 246, 246, 0);
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#player-controls {
    bottom: 0px;
    height: 39px;
    left: 0px;
    right: 0px;
    background-color: #cdcdcd;
    border-top: 1px solid #999;
}

.btn.btn-default {
  background-color: #f8f8f8;
  height: 75%;
  border-radius: 0px;
}

#searchButton, #searchBox {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#searchButton {
  right: 215px;
  width: 100px;
}

#searchBox {
  right: 10px;
  width: 200px;
}

#playbackSlider {
  position: relative;
  top: -25%;
  transform: translateY(-50%);
  width: 80%;
  margin-left: 200px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c2262e;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.row.search-result-row {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-result-name {
  font-weight: bold;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 200px;
}

.search-result-image {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: inline-block;
  width: 90%;
  max-width: 200px;
  max-height: 200px;
}

.search-result-image:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.search-result-image:not(:hover) {
  -webkit-filter: brightness(1);
  filter: brightness(1);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.row.main-info {
  margin-bottom: 20px;
  background-color: #1e1e1e;
}
.row.main-info > span {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
.row.main-info > span > img {
    max-height: 250px;
    max-width: 250px;
}

.podcast-drilldown > ul {
  list-style: none;
  padding-left: 20px;
}

.podcast-drilldown > ul > li {
  min-height: 40px;
  padding-left: 20px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #cbcbcb;
  border-left: 4px solid #c2262e;
}

.podcast-drilldown > ul > li:hover {
  border-left: 4px solid #91080F;
  background-color: #eee;
}
.podcast-drilldown > ul > li.focused-episode {
  border-left: 4px solid #91080F;
  background-color: #eee;
}
.title-text {
  font-weight: bold;
}

.episode-description {
  line-height: 1.7em;
  margin-bottom: 5px;
}

.play-button, .episode-title, .episode-duration {
  display: inline-block;
}

.play-button {
  cursor: pointer; curosr; hand;
  transition: all linear 0.5s;
}

.play-button .glyphicon:hover {
  color: #757575;
}

.episode-duration {
  margin-right: 20px;
}

#welcome-pane h1, #welcome-pane h2 {
  text-align: center;
}

.search-form .form-group {
  margin-top: 6px;
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 100%;
  border-radius: 4px 25px 25px 4px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #a0a0a0;
  left: initial;
  font-size: 14px;
}

#menu div {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 45px;
}
