<div id="main-view">
  <div id="welcome-pane" class="jumbotron" ng-show="pageState == 'welcome'">
  <h1>Welcome to Resonate.</h1>
  <h2>Discover. Create. Listen.</h2>
</div>
  <div id="search-results-pane" ng-show="pageState == 'search-results'">
  <div class="row search-result-row" ng-repeat="rows in chunkedData">
    <div class="col-md-3" ng-repeat="item in rows">
      <div class="search-result">
        <img class="search-result-image" ng-src="{{ item.artworkUrl600 }}" ng-click="showPodcastEpisodes(item)">
        <div class="search-result-name">
            {{ item.collectionName }}
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="podcast-drilldown" ng-show="pageState == 'episode-list'">
  <div class="row main-info">
    <span class="text-center"><img ng-src="{{ currentPodcast.artworkUrl600 }}"></span>
  </div>
  <ul>
    <li ng-repeat="episode in displayedEpisodes" ng-click="showDescription = !showDescription">
      <div class="episode-overview">
      <div class="play-button">
        <span class="glyphicon glyphicon-play-circle" ng-click="playEpisode(episode.episodeUrl)">&nbsp;</span>
      </div>
      <div class="episode-title">
      <strong>{{ episode.title }}</strong>
    </div>
      <div class="episode-duration pull-right">
        <strong>{{ episode.duration }}</strong>
      </div>
  </div>
      <div class="episode-description" ng-show="showDescription">
        {{ episode.description }}
      </div>
    </li>
  </ul>
</div>
